### Most popular movie

| USER ID | MOVIE_ID | RATINGS | TIMESTAMP |
|---|---|---|---|
|196|	242|	3|	881250949|

In [9]:
#from pyspark import SparkConf, SparkContext - no longer needed, instead we need sparksession
# sparkSession is a single entry point for all API's RDD, dataframes, datasets, hive, streaming etc.,

from pyspark.sql import Row, SparkSession

In [10]:
#conf = SparkConf().setMaster('local').setAppName('popular movie')
spark = SparkSession.builder.enableHiveSupport().appName('popular movie').getOrCreate()
spark

In [5]:
# use it when run as script
#sc = SparkContext(conf=conf)

#sc = SparkContext.getOrCreate()
#sc.appName="popular movie"
#sc

In [22]:
#load data
#data = sc.textFile('./datasets/ml-100k/u.data')
data = spark.sparkContext.textFile('./datasets/ml-100k/u.data')

We need to count the movies by grouping the movie Ids

creating an RDD with movie_id row

In [25]:
movies = data.map(lambda x : (Row(movie_id=int(x.split()[1]))))

Convert RDD to DF

In [24]:
movies_df = spark.createDataFrame(movies);

Using spark sql functions to find the popular movie id

In [54]:
#popular_movies = movies.sortBy(lambda x : x[1],ascending=False)
popular_movies=movies_df.groupby('movie_id').count().orderBy('count', ascending=False).cache()
popular_movies.show()

+--------+-----+
|movie_id|count|
+--------+-----+
|      50|  583|
|     258|  509|
|     100|  508|
|     181|  507|
|     294|  485|
|     286|  481|
|     288|  478|
|       1|  452|
|     300|  431|
|     121|  429|
|     174|  420|
|     127|  413|
|      56|  394|
|       7|  392|
|      98|  390|
|     237|  384|
|     117|  378|
|     172|  367|
|     222|  365|
|     313|  350|
+--------+-----+
only showing top 20 rows

print name of movie rather than id

In [ ]:
# crearing a df directly rather than converting rdd to DF
#movie_data = sc.textFile("./datasets/ml-100k/u.item")
movies_names = spark.read.csv('./datasets/ml-100k/u.item',sep="|", schema="movie_id int, movie_name String",encoding="ascii");

In [58]:
#lets join both the datasets
# since i have cached popular_movies it will no longer read again
popular_movies_names = popular_movies.join(movies_names, on="movie_id").cache()
popular_movies_names.sort("count",ascending=False).drop('movie_id').show()

+-----+--------------------+
|count|          movie_name|
+-----+--------------------+
|  583|    Star Wars (1977)|
|  509|      Contact (1997)|
|  508|        Fargo (1996)|
|  507|Return of the Jed...|
|  485|    Liar Liar (1997)|
|  481|English Patient, ...|
|  478|       Scream (1996)|
|  452|    Toy Story (1995)|
|  431|Air Force One (1997)|
|  429|Independence Day ...|
|  420|Raiders of the Lo...|
|  413|Godfather, The (1...|
|  394| Pulp Fiction (1994)|
|  392|Twelve Monkeys (1...|
|  390|Silence of the La...|
|  384|Jerry Maguire (1996)|
|  378|    Rock, The (1996)|
|  367|Empire Strikes Ba...|
|  365|Star Trek: First ...|
|  350|Back to the Futur...|
+-----+--------------------+
only showing top 20 rows

-------------------------

### now lets try to do the same in spark sql syntax

In [59]:
from pyspark.sql import SparkSession, Row

In [99]:
spark = SparkSession.builder.appName("popular_movies").getOrCreate()

In [112]:
# read as datasets directly
# due to improper sep we cant directly read it as csv we need to read as textFile 
# and make modifications in RDD and convert into DF
movies_data = spark.sparkContext.textFile('./datasets/ml-100k/u.data')
movies_ratings = movies_data.map(lambda movie : Row(movie_id=int(movie.split()[1])))
# converting to DF 
movies_ratings_df = spark.createDataFrame(movies_ratings)
# we need movies id alone
movies_names = spark.read.csv('./datasets/ml-100k/u.item',sep="|", encoding='utf-8',schema="movie_id INT, movie_name String")
#movies_names.show()

Create temp tables for sql to execute upon

In [113]:
movies_ratings_df.createOrReplaceTempView('movies_ratings')
movies_names.createOrReplaceTempView('movies_names')

In [119]:
# added as sub query just to remove movie_id from display
popular_movies = spark.sql("""
select
   movie_count,
   movie_name 
from
   (
      select
         t1.movie_id,
         count(t1.movie_id) as movie_count,
         t2.movie_name 
      from
         movies_ratings as t1 
         join
            movies_names as t2 
            on t2.movie_id = t1.movie_id 
      group by
         t1.movie_id,
         t2.movie_name 
      order by
         movie_count desc
   ) 
""").cache()

popular_movies.show()

+-----------+--------------------+
|movie_count|          movie_name|
+-----------+--------------------+
|        583|    Star Wars (1977)|
|        509|      Contact (1997)|
|        508|        Fargo (1996)|
|        507|Return of the Jed...|
|        485|    Liar Liar (1997)|
|        481|English Patient, ...|
|        478|       Scream (1996)|
|        452|    Toy Story (1995)|
|        431|Air Force One (1997)|
|        429|Independence Day ...|
|        420|Raiders of the Lo...|
|        413|Godfather, The (1...|
|        394| Pulp Fiction (1994)|
|        392|Twelve Monkeys (1...|
|        390|Silence of the La...|
|        384|Jerry Maguire (1996)|
|        378|    Rock, The (1996)|
|        367|Empire Strikes Ba...|
|        365|Star Trek: First ...|
|        350|      Titanic (1997)|
+-----------+--------------------+
only showing top 20 rows